.FullPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  text-align: center;
}

.Edit label {
  display: block;
  color: #868585;
}

.Edit button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
  color: #521751;
}

.Edit button.Delete {
  color: #f80000;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
  color: #8b0000;
}

.Align {
  text-align: center;
}
