.FullPost {
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  margin: 20px auto;
  padding: 3rem;
  white-space: pre-wrap;
  width: 80%;
}

.Edit label {
  color: #868585;
  display: block;
}

.Edit button {
  background-color: transparent;
  border: none;
  color: #fa923f;
  cursor: pointer;
  outline: none;
}

.Edit button:hover,
.Edit button:active {
  color: #521751;
}

.Edit button.Delete {
  color: #f80000;
  font-size: x-large;
  text-align: center;
  width: 100%;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
  color: #8b0000;
}

.Align {
  text-align: center;
}

.Category {
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
