.Post {
  align-items: center;
  border: 2px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin: 10px;
  padding: 16px;
  width: 400px;
}

.Post:hover,
.Post:active {
  background-color: #c0ddf5;
}

.Category {
  color: #cccccc;
  margin: 16px 0;
}
