.Contact,
.Contact > form {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 2rem 0;
  position: relative;
  text-align: center;
}

.Contact .Intro {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.Contact .Map {
  margin-left: 3rem;
}

.Contact > form {
  margin: 0 auto;
  width: 40%;
}

.Contact > form > button {
  margin: 0 auto;
  width: 30%;
}

.Contact:after {
  background-image: url('../../images/subscription.jpg');
  content: '';
  display: block;
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Sending,
.Error,
.Success {
  align-items: center;
  align-self: center;
  display: flex;
  height: 20vh;
  justify-content: center;
  text-align: center;
}

.Sending {
  color: #1976d2;
}

.Error {
  color: #cc0033;
}

.Success {
  color: #252525;
}

@media only screen and (max-width: 1024px) {
  .Contact > form,
  .Contact .Intro {
    padding: 0;
    width: 70%;
  }

  .Contact > form > button {
    padding: 0;
  }

  .Contact .Map {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .Contact > form,
  .Contact .Intro {
    padding: 0;
    width: 80%;
  }

  .Contact > form > button {
    padding: 0;
  }

  .Contact .Intro {
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .Contact > form,
  .Contact .Intro {
    padding: 0;
    width: 100%;
  }

  .Contact > form > button {
    padding: 0;
  }

  .Contact .Map {
    margin: 0;
    padding: 0;
  }
}
