.AskUsTooltip {
  position: fixed;
  z-index: 999999;
  width: 170px;
  cursor: pointer;
  left: 4em;
  bottom: 2em;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 35px 12px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 10px 35px 12px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 10px 35px 12px rgba(0, 0, 0, 0.64);
}

.TooltipImage {
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: middle;
  max-width: 100%;
}
