.carousel-root {
  display: flex;
}

.carousel .slide {
  background: none !important;
  padding: 3rem 2rem 3rem 2rem;
  text-align: center;
  cursor: pointer;
}

.carousel .slide article {
  margin: 0 auto;
}

@media only screen and (max-width: 400px) {
  .carousel .slide {
    margin: 0;
    padding: 0;
  }
}
