.MenuTop {
  background-color: rgba(0, 0, 0, 0.8);
  width: fit-content;
  z-index: 99999;
}

.Items li,
.Selected {
  cursor: pointer;
  font-size: larger;
  list-style: none;
  padding-right: 1rem;
}

.Items li:hover,
.Selected {
  background-color: #1976d2;
  color: #ffffff;
}

.Menu,
.Content,
.Item {
  color: #ffffff;
  font-size: larger;
  padding-right: 1rem;
  width: max-content;
}

.Container,
.Content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: larger;
}
