/*******************
Client 1
*******************/
.client1{
    .client-box{
        margin:0px;
        margin-top:40px;
        border:1px solid $border;
        [class*="col-"]{
            min-height:130px;
            border:1px solid $border;
            display:flex;
            align-items:center;
            justify-content:center;
        }
    }
}