.Partners {
  background-color: #ffffff;
  padding: 4rem;
}

.Logos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.Logos img {
  height: 55px;
  padding: 1rem;
}

.Title {
  text-align: center;
}
