.MenuTop {
  z-index: 99999;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.8);
}

.Items li,
.Selected {
  padding-right: 1rem;
  cursor: pointer;
  list-style: none;
}

.Items li:hover,
.Selected {
  color: #ffffff;
  background-color: #1976d2;
}

.Menu,
.Content,
.Item {
  color: #ffffff;
  padding-right: 1rem;
  width: max-content;
}

.Container,
.Content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
