.MenuTop {
  font-family: inherit;
  z-index: 9999;
}

li {
  list-style: none;
}

.Menu {
  height: auto;
  width: auto;
  padding: 2px;
  margin: 0;
}

.Container {
  padding: 2px;
}

.Content {
  height: auto;
  width: auto;
  padding: 2px;
}

.Item {
  padding: 2px;
  height: auto;
  width: auto;
}

.Selected {
  padding: 2px;
  height: auto;
  width: auto;
  background-color: grey;
}
