.carousel .slide {
  background: none;
  padding: 3rem 0 5rem 0;
  text-align: center;
}

.carousel .slide article {
  margin: 0 auto;
}

.carousel .control-arrow,
.carousel.carousel-slider .control-arrow {
  background-color: #868585;
  opacity: 1;
}
