.carousel-root {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  background: none !important;
  padding: 3rem 0 3rem 0;
  text-align: center;
}

.carousel .slide article {
  margin: 0 auto;
}
