.Subscription {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.Subscription:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../images/subscription.jpg');
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}
