<div className="row">
  <div className="col-twelve">
    <h3>Tables</h3>
    <p>
      Be sure to use properly formed table markup with <code>&lt;thead&gt;</code> and <code>&lt;tbody&gt;</code> when building a
      <code>table</code>.
    </p>
    <div className="table-responsive">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Naruto Uzumaki</td>
            <td>16</td>
            <td>Male</td>
            <td>Konoha</td>
          </tr>
          <tr>
            <td>Sakura Haruno</td>
            <td>16</td>
            <td>Female</td>
            <td>Konoha</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div className="row half-bottom">
  <div className="col-nine tab-full">
    <h3>Example Lists</h3>
    <ol>
      <li>Here is an example</li>
      <li>of an ordered list.</li>
      <li>
        A parent list item.
        <ul>
          <li>one</li>
          <li>two</li>
          <li>three</li>
        </ul>
      </li>
      <li>A list item.</li>
    </ol>
    <ul className="disc">
      <li>Here is an example</li>
      <li>of an unordered list.</li>
    </ul>
    <h3>Definition Lists</h3>
    <h5>a) Multi-line Definitions (default)</h5>
    <dl>
      <dt>
        <strong>This is a term</strong>
      </dt>
      <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
      <dt>
        <strong>Another Term</strong>
      </dt>
      <dd>And it gets a definition too, which is this line</dd>
      <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
    </dl>
  </div>
  <div className="col-three tab-full">
    <h3>Headers</h3>
    <h1>H1 Heading</h1>
    <h2>H2 Heading</h2>
    <h3>H3 Heading</h3>
    <h4>H4 Heading</h4>
    <h5>H5 Heading</h5>
    <h6>H6 Heading</h6>
    <h3>Buttons</h3>
    <p>
      <a className="button button-primary full-width" href="http://hitelinformaciok.hu/"> Primary Button </a>
      <a className="button full-width" href="http://hitelinformaciok.hu/"> Default Button </a>
    </p>
  </div>
  <div className="row half-bottom">
    <div className="col-nine tab-full">
      <h3>Example Lists</h3>
      <ol>
        <li>Here is an example</li>
        <li>of an ordered list.</li>
        <li>
          A parent list item.
          <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
          </ul>
        </li>
        <li>A list item.</li>
      </ol>
      <ul className="disc">
        <li>Here is an example</li>
        <li>of an unordered list.</li>
      </ul>
      <h3>Definition Lists</h3>
      <h5>a) Multi-line Definitions (default)</h5>
      <dl>
        <dt>
          <strong>This is a term</strong>
        </dt>
        <dd>this is the definition of that term, which both live in a <code>dl</code>.</dd>
        <dt>
          <strong>Another Term</strong>
        </dt>
        <dd>And it gets a definition too, which is this line</dd>
        <dd>This is a 2<sup>nd</sup> definition for a single term. A <code>dt</code> may be followed by multiple <code>dd</code>s.</dd>
      </dl>
    </div>
    <div className="col-three tab-full">
      <h3>Headers</h3>
      <h1>H1 Heading</h1>
      <h2>H2 Heading</h2>
      <h3>H3 Heading</h3>
      <h4>H4 Heading</h4>
      <h5>H5 Heading</h5>
      <h6>H6 Heading</h6>
      <h3>Buttons</h3>
      <p>
        <a className="button button-primary full-width" href="http://hitelinformaciok.hu/"> Primary Button </a>
        <a className="button full-width" href="http://hitelinformaciok.hu/"> Default Button </a>
      </p>
    </div>
  </div>
</div>
