.NewPost {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 3px #cccccc;
  text-align: center;
}

.NewPost label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
  display: block;
  width: 80%;
  box-sizing: border-box;
  border: 1px solid #000000;
  outline: none;
  font: inherit;
  margin: auto;
}

.NewPost button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #fa923f;
  background-color: transparent;
  color: #fa923f;
  cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
  color: #ffffff;
  background-color: #fa923f;
}

.Loading {
  color: #1976d2;
}

.Error {
  color: #cc0033;
}

.InputElement input[type='text'],
.InputElement input[type='select'],
.InputElement select,
.InputElement textarea {
  height: 6rem !important;
}
