.Dropdown {
  display: inline-block;
  font: inherit;
  left: 70px;
  margin-top: 2px;
  padding-right: 2rem;
  position: absolute;
  position: relative;
  top: 50%;
  z-index: 600;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Dropdown span {
  color: #ffffff;
  cursor: pointer;
  line-height: 30px;
  padding-right: 0.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.DropdownContent {
  display: none;
  font-size: smaller;
  position: absolute;
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.Dropdown .Offers {
  position: relative;
}

.Dropdown .Offers:hover,
.Dropdown .Offers.active {
  opacity: 0.5;
}

.Dropdown .Offers::before {
  top: 1;
}

.Dropdown .Offers::after {
  bottom: -10%;
}

.Dropdown .Offers::before,
.Dropdown .Offers::after {
  background-color: #1976d2;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out 0s;
  animation-duration: 1.5s;
  animation-name: underline;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes underline {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@media only screen and (max-width: 600px) {
  .Dropdown {
    display: flex;
  }

  .Dropdown,
  .Dropdown span {
    top: 8px;
  }

  .Dropdown .Offers::after {
    bottom: -6%;
  }
}
