.Partners {
  background-color: #ffffff;
  padding: 4rem;
}

.Logos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.Logos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.Logos img {
  min-height: 55px;
  max-height: 65px;
  padding: 1rem;
}

.Logos img:hover {
  transform: scale(1.5);
  transition: 1s;
  z-index: 1;
}

.Title {
  text-align: center;
}
