.Auth,
.Auth > form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0 2rem 0;
}

.Auth > form {
  width: 40%;
  margin: 0 auto;
}

.Auth > form > button {
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .Auth > form {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .Auth > form {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .Auth > form {
    width: 90%;
  }
}
