.Auth,
.Auth > form {
  display: flex;
  flex-direction: column;
  padding: 3rem 0 2rem 0;
  position: relative;
  text-align: center;
}

.Auth > form {
  margin: 0 auto;
  width: 40%;
}

.Auth > form > button {
  margin: 0 auto;
}

.Loading {
  color: #1976d2;
}

.Error {
  color: #cc0033;
}

@media only screen and (max-width: 1024px) {
  .Auth > form {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .Auth > form {
    width: 80%;
  }
}

@media only screen and (max-width: 400px) {
  .Auth > form {
    width: 90%;
  }
}
